/* LOGIN + SIGNUP Component */
.login-signup-box {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-signup-header {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  padding: 50px;
  text-align: center;
}

.login-signup-header section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-signup-header img {
  width: 100px;
  margin-bottom: 30px;
}

.login-signup-header form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.login-signup-header form label {
  font-size: 14px;
  margin-bottom: 10px;
}

.login-signup-header form input[type="text"],
.login-signup-header form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.login-signup-header form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #3897f0;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.login-signup-header form p {
  color: red;
  font-size: 14px;
  margin-top: 20px;
}

.login-signup-header div {
  margin-top: 20px;
}

.login-signup-header div button {
  background-color: transparent;
  border: none;
  color: #3897f0;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

/* LOGIN + SIGNUP Component */

/* NAVBAR Component */
.navbar-header {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px #ccc;
}
#feed-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3897f0;
}

#feed-link img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

#user-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3897f0;
  margin-right: 10px;
}

#user-link h3 {
  margin: 0;
}

.unavbar-header img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.navbar-header form {
  display: flex;
  align-items: center;
}

.navbar-header form input[type="text"] {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-right: 10px;
}

.navbar-header button[type="submit"] {
  background-color: #3897f0;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.navbar-header button[type="button"] {
  background-color: #3897f0;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 20px;
}
/* NAVBAR Component */

/* HOMEPAGE + USERPAGE Component */
.user-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.user-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.user-section img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-section ul {
    list-style: none;
}

.user-options {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}

.user-options button {
    background-color: transparent;
    cursor: pointer;
}

.icons {
  font-size: xxx-large;
}

.post-update-create-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.post {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
}
/* HOMEPAGE + USERPAGE Component */
/* SEARCH Component */
#search {
  position: absolute;
  top: 50px;
  left: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  padding: 10px;
  width: 500px;
  max-height: 500px;
  overflow-y: scroll;
}

#search p {
  margin: 0;
  font-size: 20px;
}

#search img {
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}

#search p, #search button {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

#search button {
  float: right;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search a {
  display: block;
  clear: both;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

#search a:last-child {
  border-bottom: none;
}
/* SEARCH Component */
/* FEED + POST Component */
.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-feed-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-feed-avatar {
  border-radius: 25px;
}

.user-feed-username {
  font-weight: bold;
  margin-left: 10px;
}

.post-feed-image {
  border-radius: 10px;
  object-fit: cover;
  width: 500px;
}

.post-feed-caption {
  margin-top: 10px;
  text-align: center;
}
/* FEED + POST Component */

/* FOLLOWERSFOLLOWS Component */
.followship {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin: 20px 0;
  text-align: center;
}

.follow p {
  margin-top: 20px;
  font-weight: bold;
}

.follow img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
/* FOLLOWERSFOLLOWS Component */

/* CREATEPOST Component */
.create-update-form {
  display: flex;
  flex-direction: column;
  margin: 50px 50px;
  align-items: center;
}

.error-box {
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

h4 {
  margin-bottom: 20px;
}

label {
  margin-top: 20px;
  font-weight: bold;
}

input[type="text"] {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.click-button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #3897f0;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.click-button:hover {
  background-color: #2f80ed;
}
/* CREATEPOST Component */
/* LOADING Component */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-bar {
  width: 4px;
  height: 18px;
  margin: 0 8px;
  border-radius: 4px;
  background-color: #2f80ed;
  animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.5);
  }
  40% {
    transform: scale(1);
  }
}
/* LOADING Component */
/* LIKEBUTTON Component */
.like-div {
  display: flex;
  align-items: center;
}

.like-div p {
  padding-right: 20px;
}
/* LIKEBUTTON Component */