.home-page {
    text-align: center;
  }
  
  ul {
    list-style-type: none;  
  }

.user-section {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none
}

.option-button {
  border: 2px solid blue;
}

.active-button {
  border: 2px solid red;
}

.post:hover {
  opacity: 50%;
  border: 2px solid red;
}